.btn {
  width: 100%;
  margin-top: 1.5rem;
  background: $dark-slate-grey;
  border-radius: 7px;
  color: $white;
  padding: 15px;
  font-weight: bold;
  border: none;

  &:hover, &:focus {
    background: $tomato;
    color: $white;
    cursor: pointer;
    box-shadow: 5px 14px 10px 0px #faa7a2;
  }

  &--dismiss {
    margin-top: 15rem;
    @media screen and (min-width: 768px) {
      margin-top: 2rem;
    }
  }
}
