// Breakpoints
$md: 768px;


// Containers
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: $white;

  @include md {
    padding: 1.5rem;
    max-width: 1200px;
    transform: translateY(50%);
    border-radius: 30px;
  }

  &--md-large {
    padding: 0;

    @include md {
      margin: auto;
      padding: 1.5rem;
      flex-direction: row-reverse;
      max-width: 1200px;
    }

  }


  &--md-small {
    @include md {
      width: 500px;
      height: 500px;
      flex-direction: column;
      padding: 3rem 4rem;
    }
  }
}

