.form {
  margin-top: 1rem;
  padding: 3rem 1rem 2rem 2rem;

  @media screen and (min-width: 768px) {
    max-width: 50%;
  }

  &-label {
    font-size: 3rem;
    font-weight: bold;
  }

  &-legend {
    margin-top: 1.5rem;
  }

  .list {
    list-style-type: none;
    margin-top: 1.5rem;
    margin-left: 0;
    padding: 0;
  }

  .list-item {
    display: flex;
    align-items: flex-start;
    margin-top: 0.5rem;
  }

  .list-icon {
    margin-right: 1rem;
    align-self: flex-start;
  }

  .input-label {
    margin-top: 2rem;
    font-size: 14px;
    font-weight: bold;
  }

  .input {
    margin-top: 0.5rem;
    width: 100%;
    padding: 15px;
    border: 1px solid $grey;
    border-radius: 7px;
    color: $grey;
    &:hover, &:focus {
      cursor: pointer;
      color: inherit;
      border: 1px solid black;
    }
  }



}





