.form {
  margin-top: 1rem;
  padding: 2rem;

  @media screen and (min-width: 768px) {
    padding-top: 5rem;
    margin-right: 2rem;
  }

  &-label {
    font-size: 3rem;
    font-weight: bold;
  }

  &-legend {
    margin-top: 0.5rem;
  }

  .list {
    list-style-type: none;
    margin-top: 1rem;
    margin-left: 0;
    padding: 0;
  }

  .list-item {
    display: flex;
    align-items: flex-start;
    margin-top: 0.5rem;
  }

  .list-icon {
    margin-right: 1rem;
    align-self: flex-start;
  }

  .input-label {
    margin-top: 2rem;
    font-size: 14px;
    font-weight: bold;
  }

  .input {
    margin-top: 0.5rem;
    width: 100%;
    padding: 15px;
    border: 1px solid $grey;
    border-radius: 7px;
    color: $grey;
    &:hover, &:focus {
      cursor: pointer;
      color: inherit;
      border: 1px solid black;
    }
  }

  .btn {
    width: 100%;
    margin-top: 1.5rem;
    background: $dark-slate-grey;
    border-radius: 7px;
    color: $white;
    padding: 15px;
    font-weight: bold;
    border: none;

    &:hover, &:focus {
      background: $tomato;
      color: $white;
      cursor: pointer;
      box-shadow: 5px 14px 10px 0px #faa7a2;
    }
  }

}




