@import "index";
@import "elements/_form.scss";

body {
  font-family: "Roboto", serif;
  font-weight: normal;
  font-size: 16px;
  background-color: $charcoal-grey;
}


#app {
  display: flex;
  flex-direction: column;
  place-items: center flex-end;
}

.attribution {
  color: $white;
  position: absolute;
  bottom: 0;
}
